#header {
  position: relative;
  background-color: #f4f6f9;
  padding-top: 5px;
  height: 100%;
  padding-bottom: 20px;
}
.list {
  width: 100%;
  margin: 10px;
}
.cardlist {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logogo {
  padding-right: 100px;
  width: 450px;
  height: 300px;
}
  .logogo2 {
    padding-left: 100px;
  width: 450px;
  height: 300px;
}
.item1 {
  grid-column: 1;
  grid-row: 1;
}
.item2 {
  grid-column: 2;
  grid-row: 1;
  background: url(../../Photos/Screenshot\ 2022-07-17\ 202043.jpg) center center / cover no-repeat fixed;
}
.item3 {
  grid-column: 2;
  grid-row: 1;
  background: url(../../Photos/styles4.png) center center / cover no-repeat fixed;
}
.item4 {
  grid-column: 2;
  grid-row: 1;
  background: url(../../Photos/styles4.png) center center / cover no-repeat fixed;
}
.item5 {
  grid-column: 2;
  grid-row: 1;
  background: url(../../Photos/c.jpg) center center / cover no-repeat fixed;
}
.font1 {
  color:#4C0001;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
      1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 400px;
  margin-top: 60px;
}

.header h1 {
  font-size: 6rem;
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--color-white);
  position: relative;
  padding-bottom: 2rem;
}
.header h1 span {
  display: block;
}
.design{
  color: #4C0001;
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
      1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

h1 span:nth-child(2),
h1 span:nth-child(3) {
  font-weight: 100;
}

.header h1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 65%;
  height: 1px;
  background: var(--color-white);
}

.header-left p {
  margin: 3rem 0;
  color: var(--color-white);
  width: 70%;
}

.header-right img {
  width: 600px;
  height: 500px;
  margin-right: -80px;
  border-radius: 50px;
}

.floating-icon {
  background-color: var(--light-blue);
  width: 5px;
  height: 1px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  cursor: pointer;
}

.floating-icon a {
  border: 1px solid #fff;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  background-color: #4C0001;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse {
  transform: translateY(-25%);
  animation: bounce 0.8s ease infinite alternate;
}

h1 span:nth-child(1) {
    font-weight: 900;
    margin-left: -10px;
}

@keyframes bounce {
  0% {
    transform: translateY(-25%);
  }
  100% {
    transform: translateY(25%);
  }
}
 #Ann {
   margin-left: 500px;
   color: #4C0001;
   font-weight: bold;
   margin-top: 15px;
 }

@media screen and (max-width: 600px) {
  .list {
      width: 290px;
    }
  .logogo {
      padding-right: 0;
      width: 300px;
      height: 250px;
    }
  
    .logogo2 {
      padding-left: 0;
      width: 300px;
      height: 250px;
    }
  #Ann{
    margin-left: 50px;
  }
  .page{
    margin-left: -15px;
  }
  #header{
    width: 100%;
  }
  .header {
    flex-direction: column;
    height: 500px;
  }

  .header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 65px;
    margin-right: 20px;
  }

  .header-left {
    margin-bottom: 4rem;display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-top: 65px;
  }

  .header h1::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .header-right img {
    width: 390px;
    height: 290px;
    border-radius: 15px;
  } 
  .header h1 {
    font-size: 3rem;
  }
}
