#back {
    background: url(../Photos/a.jpg) center center / cover no-repeat fixed;
    min-height: 100vh;
}
#back2 {
    background: url(../Photos/a.jpg) center center / cover no-repeat fixed;
    min-height: 100vh;
}
#back3{
    background: url(../Photos/a.jpg) center center / cover no-repeat fixed;
    min-height: 100vh;
}