  .annIn {
      margin-top: -220px;
  }
  
  .announce0 {
        border-radius: 10px;
        width: 50%;
        margin-left: 10px;
        height: 40px;
        padding: 10px;
        margin-top: 20px;
    }
    .box5 {
        background-color: #fff;
        padding: 20px;
        width: auto;
        border-radius: 10PX;
        overflow: scroll;
        max-height: 300px;
        scroll-behavior: smooth;
        margin-top: 60px;
        margin-left: -50px;
        z-index: 9999;
    }

@media screen and (max-width: 600px) {
     .announce0 {
        border-radius: 10px;
        width: 90%;
        margin-left: 10px;
        height: 50px;
        padding: 10px;
    }

    .box5 {
        padding: 20px;
        width: auto;
        border-radius: 10PX;
        margin-top: 100px;
        margin-left: 5px;
        margin-bottom: 150px;
    }
    .an2 {
        font-size: medium;
        font-weight: bold;
        color: #FF0;
    }

    .annIn {
      margin-bottom: -70px;
  }
}