.download {
  background: #800;
  text-align: center;
  color: #fff;
  position: absolute;
  margin-top: 750px;
  padding: 10px;
  padding-top: 60px;
  height: 290px;
  position: absolute;
}

.download h2 {
  font-size: 30px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 1.5rem 0;
  padding-bottom: 1rem;
}

.download h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 10%;
  height: 1px;
  background: var(--color-white);
  transform: translateX(-50%);
}
.download-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}

.download-icon {
  margin: 1rem 2rem;
  border: 2px solid #fff;
  border-radius: 5px;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;
}

@media screen and (max-width: 600px) {
  .download {
    margin-top: 1320px;
    padding-top: 5px;
    height: 500px;
    width: 100%;
  }
  h2 {
    font-size: smaller;
  }
}