.con2 {
   padding-left: 250px;
   margin-bottom: 0%;
   padding-bottom: 20%;
   background-color: #800;
   
}
h1 {
  line-height: 1.4;
  text-transform: uppercase;
  color: var(--color-white);
  position: relative;
  padding-bottom: 2rem;
}

.con22{
    padding-top: 20px;
   padding-left: 1190px;
}

.but{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #800;
}

.con3 {
    margin-top: 50px;
}


.input1 {
    color: #800;
    font-weight: bold;
    height: 50px;
    padding: 10px;
    margin-bottom: 10px;
}

.input2 {
    border-radius: 10px;
}

.b2E {
    margin-bottom: 10px;
    background-color: #ff0;
    border-radius: 10px;
    margin-top: 20px;
    color: #800;
}

.b2E1 {
    margin-bottom: 50px;
    background-color: #ff0;
    border-radius: 10px;
    margin-top: 20px;
    color: #800;
}

.b3D {
    margin-top: 510px;
    width: 60%;
    height: 50px;
    background-color: #ff0;
    font-weight: bold;
    color: #800;
    border-radius: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.im2 {
    width: 100%;
    height: 500px;
    margin-bottom: 200px;
    margin-left: -125px;
    border-radius: 20px;
    border: 2px solid #800;
}

.sp {
    color: #fff;
    font-size: 30px;
    margin-left: -100px;
    
}
.footer2{
    height: 100px;
    width: 100%;
    color: #fff;
    position: absolute;
    background-color: rgb(11, 11, 58);
    padding: 10px;
}
@media screen and (max-width: 600px) {
    .con22{
        padding-top: 20px;
        padding-left: 220px;
    }
    .con2 {
        padding-left: 0;
    }
    .input2 {
        border-radius: 10px;
        width: 90%;
        margin-left: 10px;
        height: 50px;
    }
    
    .b2E {
        border-radius: 10px;
        width: 90%;
        margin-left: 10px;
        height: 50px;
        padding: 10px;
    }

    .b2E1 {
        border-radius: 10px;
        width: 90%;
        margin-left: 10px;
        height: 50px;
        margin-top: -5px;
        padding: 10px;
        margin-bottom: 100px;
    }

    .im2 {
        width: 95%;
        height: 350px;
        margin-left: 10px;
        border-radius: 20px;
    }  
    
    .b3D {
        margin-top: 360px;
        width: 95%;
        height: 40px;
        margin-left: 7px;
    }

    .sp {
        font-size: 20px;
        margin-left: 20px;
        
    }
    
    .con3 {
        margin-top: -50px;
    }

    .footer2{
        margin-top: -150px;
        height: 10%;
}
}