.footer {
  width: 100%;
  color: #000;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  padding-left: 30px;
  z-index: 999;
}

.footer h4 {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.4;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.footer-box .footer-links a {
  font-size: 1.2rem;
}

.footer-links {
  display: flex;
  flex-direction: column;
}

.footer-contact p {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

@media screen and (max-width: 600px) {
  .footer{
    height: 150px;
  }
}